# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# PyCharm-specific files
.idea/
*.iml
__pycache__/
.DS_Store
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/vcs.xml
